<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="compositionMode" type="xstring" value="MATCH_ALL"/>
        <config key="matchingCriteria">
            <config key="0">
                <config key="leftTableColumnV2">
                    <entry key="regularChoice" type="xstring" value="Provincia"/>
                    <entry key="specialChoice_Internals" type="xstring" isnull="true" value=""/>
                </config>
                <config key="rightTableColumnV2">
                    <entry key="regularChoice" type="xstring" value="Provincia"/>
                    <entry key="specialChoice_Internals" type="xstring" isnull="true" value=""/>
                </config>
            </config>
        </config>
        <entry key="dataCellComparisonMode" type="xstring" value="STRICT"/>
        <entry key="includeMatchesInOutput" type="xboolean" value="true"/>
        <entry key="includeLeftUnmatchedInOutput" type="xboolean" value="true"/>
        <entry key="includeRightUnmatchedInOutput" type="xboolean" value="false"/>
        <config key="leftColumnSelectionConfigV2">
            <entry key="mode" type="xstring" value="MANUAL"/>
            <config key="patternFilter">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="isCaseSensitive" type="xboolean" value="false"/>
                <entry key="isInverted" type="xboolean" value="false"/>
            </config>
            <config key="manualFilter">
                <config key="manuallySelected">
                    <entry key="array-size" type="xint" value="98"/>
                    <entry key="0" type="xstring" value="Provincia"/>
                    <entry key="1" type="xstring" value="Regione"/>
                    <entry key="2" type="xstring" value="Sigla Provincia"/>
                    <entry key="3" type="xstring" value="Alunni Totali"/>
                    <entry key="4" type="xstring" value="Percentuale Alunni ITA"/>
                    <entry key="5" type="xstring" value="Percentuale Alunni NITA"/>
                    <entry key="6" type="xstring" value="Totale alunni Femmine"/>
                    <entry key="7" type="xstring" value="Totale Alunni Maschi"/>
                    <entry key="8" type="xstring" value="Media Alunni per classe"/>
                    <entry key="9" type="xstring" value="Totale Classi"/>
                    <entry key="10" type="xstring" value="Percentuali Alunni Femmine"/>
                    <entry key="11" type="xstring" value="Percentuali Alunni Maschi"/>
                    <entry key="12" type="xstring" value="ATA titolari"/>
                    <entry key="13" type="xstring" value="ATA supplenti"/>
                    <entry key="14" type="xstring" value="Totale ATA"/>
                    <entry key="15" type="xstring" value="Percentuale ATA titolari"/>
                    <entry key="16" type="xstring" value="Percentuali ATA Supplenti"/>
                    <entry key="17" type="xstring" value="Docenti Totali"/>
                    <entry key="18" type="xstring" value="Docenti titolari"/>
                    <entry key="19" type="xstring" value="Docenti Supplenti"/>
                    <entry key="20" type="xstring" value="Percentuali Docenti Titolari"/>
                    <entry key="21" type="xstring" value="Percentuali Docenti Supplenti"/>
                    <entry key="22" type="xstring" value="Posti vacanti per Docente Normale"/>
                    <entry key="23" type="xstring" value="Posti vacanti per Docente Sostegno"/>
                    <entry key="24" type="xstring" value="Totale Posti vacanti"/>
                    <entry key="25" type="xstring" value="Punteggio Invalsi Inglese Listening"/>
                    <entry key="26" type="xstring" value="Punteggio Invalsi Inglese Reading"/>
                    <entry key="27" type="xstring" value="Punteggio Invalsi Italiano"/>
                    <entry key="28" type="xstring" value="Punteggio Invalsi Matematica)"/>
                    <entry key="29" type="xstring" value="Participation in life-long learning"/>
                    <entry key="30" type="xstring" value="Participation in the school system of children aged 4-5"/>
                    <entry key="31" type="xstring" value="People having completed tertiary education (ISCED 5 6 7 or 8)"/>
                    <entry key="32" type="xstring" value="People not in education employment or training (NEET)"/>
                    <entry key="33" type="xstring" value="People with at least upper secondary education level (25-64 years old)"/>
                    <entry key="34" type="xstring" value="Average annual per capita amount of pension income"/>
                    <entry key="35" type="xstring" value="Average annual salary of employees"/>
                    <entry key="36" type="xstring" value="Average disposable income per capita"/>
                    <entry key="37" type="xstring" value="Bad loan entry rate of bank loans to households"/>
                    <entry key="38" type="xstring" value="Brain circulation (Italians 25-39 years old)"/>
                    <entry key="39" type="xstring" value="Burglaries reported"/>
                    <entry key="40" type="xstring" value="Deadly crimes reported"/>
                    <entry key="41" type="xstring" value="Electricity from renewable sources"/>
                    <entry key="42" type="xstring" value="Employment rate (20-64 years old)"/>
                    <entry key="43" type="xstring" value="Hospital patient emigration to a different region"/>
                    <entry key="44" type="xstring" value="Inadequate level of literacy (students in grade 8)"/>
                    <entry key="45" type="xstring" value="Inadequate level of numeracy (students in grade 8)"/>
                    <entry key="46" type="xstring" value="Intentional homicide rate"/>
                    <entry key="47" type="xstring" value="Irregularities in electric power distribution"/>
                    <entry key="48" type="xstring" value="Life expectancy at birth"/>
                    <entry key="49" type="xstring" value="Medical specialists"/>
                    <entry key="50" type="xstring" value="Municipal councilors under the age of 40"/>
                    <entry key="51" type="xstring" value="Municipal waste generated"/>
                    <entry key="52" type="xstring" value="Non-participation rate"/>
                    <entry key="53" type="xstring" value="Overall Fixed Very High Capacity Network (VHCN) coverage"/>
                    <entry key="54" type="xstring" value="PM10 Annual average concentration"/>
                    <entry key="55" type="xstring" value="PM2.5 Annual average concentration"/>
                    <entry key="56" type="xstring" value="Paid days in the year (employees)"/>
                    <entry key="57" type="xstring" value="Pensioners with a low pension income"/>
                    <entry key="58" type="xstring" value="Pick-pocketings reported"/>
                    <entry key="59" type="xstring" value="Prison density"/>
                    <entry key="60" type="xstring" value="Road accidents mortality rate (15-34 years old)"/>
                    <entry key="61" type="xstring" value="Road mortality in non-urban roads"/>
                    <entry key="62" type="xstring" value="Robberies reported"/>
                    <entry key="63" type="xstring" value="Seat-Km of public transport networks"/>
                    <entry key="64" type="xstring" value="Separate collection of municipal waste"/>
                    <entry key="65" type="xstring" value="Separate collection service for municipal waste"/>
                    <entry key="66" type="xstring" value="Soil sealing from artificial land cover"/>
                    <entry key="67" type="xstring" value="Spread of agritourism farms"/>
                    <entry key="68" type="xstring" value="Urban green"/>
                    <entry key="69" type="xstring" value="Voter turnout (Regional Councils)"/>
                    <entry key="70" type="xstring" value="Women municipal councilors"/>
                    <entry key="71" type="xstring" value="Youth's employment rate (15-29 years old)"/>
                    <entry key="72" type="xstring" value="Youth's non-participation rate"/>
                    <entry key="73" type="xstring" value="codice_provincia"/>
                    <entry key="74" type="xstring" value="anno"/>
                    <entry key="75" type="xstring" value="Pop25Y0"/>
                    <entry key="76" type="xstring" value="Pop25Y1"/>
                    <entry key="77" type="xstring" value="Pop25Y2"/>
                    <entry key="78" type="xstring" value="Pop25Y3"/>
                    <entry key="79" type="xstring" value="Pop25Y4"/>
                    <entry key="80" type="xstring" value="Pop25Y5"/>
                    <entry key="81" type="xstring" value="Pop25Y6"/>
                    <entry key="82" type="xstring" value="Pop25Y7"/>
                    <entry key="83" type="xstring" value="Pop25Y8"/>
                    <entry key="84" type="xstring" value="Pop25Y9"/>
                    <entry key="85" type="xstring" value="Pop25Y10"/>
                    <entry key="86" type="xstring" value="Pop25Y11"/>
                    <entry key="87" type="xstring" value="Pop25Y12"/>
                    <entry key="88" type="xstring" value="Pop25Y13"/>
                    <entry key="89" type="xstring" value="Pop25Y14"/>
                    <entry key="90" type="xstring" value="Pop25Y15"/>
                    <entry key="91" type="xstring" value="Pop25Y16"/>
                    <entry key="92" type="xstring" value="Pop25Y17"/>
                    <entry key="93" type="xstring" value="Pop25Y18"/>
                    <entry key="94" type="xstring" value="Pop25Y19"/>
                    <entry key="95" type="xstring" value="Pop25Y20"/>
                    <entry key="96" type="xstring" value="area"/>
                    <entry key="97" type="xstring" value="nr Studenti Superiori"/>
                </config>
                <config key="manuallyDeselected">
                    <entry key="array-size" type="xint" value="0"/>
                </config>
                <entry key="includeUnknownColumns" type="xboolean" value="true"/>
            </config>
            <config key="typeFilter">
                <config key="selectedTypes">
                    <entry key="array-size" type="xint" value="0"/>
                </config>
            </config>
        </config>
        <config key="rightColumnSelectionConfigV2">
            <entry key="mode" type="xstring" value="MANUAL"/>
            <config key="patternFilter">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="isCaseSensitive" type="xboolean" value="false"/>
                <entry key="isInverted" type="xboolean" value="false"/>
            </config>
            <config key="manualFilter">
                <config key="manuallySelected">
                    <entry key="array-size" type="xint" value="1"/>
                    <entry key="0" type="xstring" value="Indice di svantaggio"/>
                </config>
                <config key="manuallyDeselected">
                    <entry key="array-size" type="xint" value="5"/>
                    <entry key="0" type="xstring" value="Rank"/>
                    <entry key="1" type="xstring" value="Provincia"/>
                    <entry key="2" type="xstring" value="Regione"/>
                    <entry key="3" type="xstring" value="Area"/>
                    <entry key="4" type="xstring" value="Quadrante"/>
                </config>
                <entry key="includeUnknownColumns" type="xboolean" value="false"/>
            </config>
            <config key="typeFilter">
                <config key="selectedTypes">
                    <entry key="array-size" type="xint" value="0"/>
                </config>
            </config>
        </config>
        <entry key="mergeJoinColumns" type="xboolean" value="false"/>
        <entry key="duplicateHandling" type="xstring" value="APPEND_SUFFIX"/>
        <entry key="suffix" type="xstring" value=" (Right)"/>
        <entry key="outputUnmatchedRowsToSeparatePorts" type="xboolean" value="false"/>
        <entry key="rowKeyFactory" type="xstring" value="CONCATENATE"/>
        <entry key="rowKeySeparator" type="xstring" value="_"/>
        <entry key="outputRowOrder" type="xstring" value="ARBITRARY"/>
        <entry key="maxOpenFiles" type="xint" value="200"/>
        <entry key="enableHiliting" type="xboolean" value="false"/>
    </config>
    <config key="variables"/>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.joiner3.Joiner3NodeFactory"/>
    <entry key="node-name" type="xstring" value="Joiner"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.11.0.v202602201626"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.11.0.v202602211509"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Joiner"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 95, Cols: 99"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.node.port.inactive.InactiveBranchPortObjectSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.port.inactive.InactiveBranchPortObject"/>
            <entry key="port_object_summary" type="xstring" value="Inactive Port Object"/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_2"/>
        </config>
        <config key="port_3">
            <entry key="index" type="xint" value="3"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.node.port.inactive.InactiveBranchPortObjectSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.port.inactive.InactiveBranchPortObject"/>
            <entry key="port_object_summary" type="xstring" value="Inactive Port Object"/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_3"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="202f774f-4cf3-4441-a266-e1a53e63bd31"/>
    </config>
</config>
